{% extends 'base.html.twig' %}

{% block title %}Presentation index
{% endblock %}

{% block body %}
	<h1>Presentation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Photo_presentation</th>
				<th>Contenu_presentation</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for presentation in presentations %}
				<tr>
					<td>{{ presentation.id }}</td>
					<td>{{ presentation.photoPresentation }}</td>
					<td>{{ presentation.contenuPresentation|raw }}</td>
					<td>
						<a href="{{ path('presentation_show', {'id': presentation.id}) }}">show</a>
						<a href="{{ path('presentation_edit', {'id': presentation.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		<a href="{{ path('presentation_new') }}">Create new</a>
	</div>
	<div>
		<a href="{{ path('admin') }}">retour</a>
	</div>
{% endblock %}
