{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<ul>
    <li class="nav-item">
        <h2>Mon administration</h2>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('titre_index') }}">Titre</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('presentation_index') }}">Presentation</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('competence_index') }}">Competences</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('realisation_index') }}">Réalisations</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('parcours_index') }}">Parcours</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('contact_index') }}">Contact</a>
    </li>
    <li class="nav-item">
        <a class="" href="{{ path('user_index') }}">User</a>
    </li>
	<li class="nav-item">
        <a class="" href="{{ path('home') }}">Retour au site</a>
    </li>
</ul>


{% endblock %}
